<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<style>
.logdoc{
    width: 100%;
    height: 120px;
    background: #eee;
    font-size: 14px;
    padding: 2px 0 5px 10px;
}
.logdoc h2{
    font-size: 1.2em;
    margin: 5px 0;
}
.logdoc ul{
    margin: 0;
    padding: 0 0 0 20px;
}
</style>
<body>
<div class="logdoc">
<h2>日志查看说明：</h2>
查看地址：http://www.sina-fds.com/log 默认显示所有分类的日志，长度为100行。<br/>
可用参数：
<ul>
    <li>op: {string} 操作类型，查看日志操作（默认不需指定）和清空日志操作（clear）</li>
    <li>len：{number} 查看日志长度（行）</li>
    <li>c: {stirng} 要查看的日志类型，默认展示所有类型。all(默认)/vhosts/proxy/uipage/operate</li>
</ul>
</div>
<pre>
<%= content %>
<pre>
</body>
</html>