<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <style>
    .error{
    	color: red;
    	font-weight: bold;
    }
    </style>
  </head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-font" href="#">Fd-server 配置页面</a>
        </div>
      </div>
    </div>

	<div class="container"><span class="error">对不起访问的页面不存在</span></div>
  </body>
</html>
