<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/flat-ui.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
		<style>
			.grouplist{float:left;margin-right:10px;}
			.panel_group{display:none;}
			.fui-cross{cursor:pointer;}
			.switch{margin-top:5px;}
			h4{vertical-align:bottom;}
			table tbody tr td {vertical-align:middle!important;}
			#con-wrapper{min-height:600px;}
			.footer{text-align:center;}
		</style>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-font" href="/">Fd-server</a>
        </div>
		<div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav" id="switch-tab">
				<li><a href="#vhosts">vhosts</a></li>	
				<li><a href="#proxy">proxy</a></li>	
				<li><a href="#hosts">hosts</a></li>	
				<li><a href="#config">config</a></li>	
				<li><a href="#task">task</a></li>	
				<li><a href="#log">log</a></li>	
			</ul>	
		</div>
      </div>
    </div>


    <div id="con-wrapper">
	    <!-- dymatic server config -->
		<div class="container J_content" style="display:none;">
			<h4>
				<img src="images/icons/svg/paper-bag.svg" alt="Pocket" width="35" height="35"> Vhost
			</h4>
			<hr>
			<div id="vhosts"></div>
		</div>
		<div class="container J_content" style="display:none;">
			<h4>
				<img src="images/icons/svg/map.svg" alt="proxy" width="35" height="35"> Proxy
			</h4>
			<hr>
			<div id="proxy"></div>
		</div>
		<div class="container J_content" style="display:none;">
			<h4>
				<img src="images/icons/svg/clipboard.svg" alt="hosts" width="35" height="35"> Hosts 
			</h4>
			<hr>
			<div id="hosts"></div>
		</div>
		<div class="container J_content" style="display:none;">
			<h4>
				<img src="images/icons/svg/toilet-paper.svg" alt="Pocket" width="35" height="35"> Config
			</h4>
			<hr>
			<div id="config"></div>
		</div>
        <div class="container J_content" style="display:none;">
			<h4>
				<img src="images/icons/svg/book.svg" alt="Pocket" width="35" height="35"> Task
			</h4>
			<hr>
			<div id="task"></div>
		</div>
		<div class="container J_content" style="display:none;">
			<h4>
				<img src="images/icons/svg/compas.svg" alt="Pocket" width="35" height="35"> Log
			</h4>
			<hr>
			<div id="log"></div>
		</div>
		<script type="template/javascript" id="vhosts_template">
		   		<table id="vhostTable" class="table table-condensed table-hover">
					<thead>
		   			<tr>
		   				<th width="15%">
		   					Domain
		   				</th>	
		   				<th width="40%">
							Local Path	
		   				</th>	
		   				<th width="15%">
							Proxy Switch
		   				</th>	
		   				<th width="15%">
		   					Open Switch
		   				</th>
		   				<th width="15%">
							Operate
		   				</th>
		   			</tr>
					</thead>
					<tbody>
		   		{% if (_.keys(vhost).length) {
		   			for(var domain in vhost){
						var host = vhost[domain];
		   		%}
		   				<tr>
							<td data-action="editinput" data-node="vhostsdomain" data-value="{%= domain %}">
		   						{%= domain %}
		   					</td>
							<td data-action="editinput" data-node="vhostpath" data-value="{%= domain %}">
		   						{%= host.path %}
		   					</td>
		   					<td>
								<input data-node="openOnlineProxy" data-toggle="switch" data-domain="{%= domain %}" type="checkbox" {%= host.openOnlineProxy == 0 ? '': 'checked' %}>
		   					</td>
		   					<td>
								<input data-node="toggleRun" data-toggle="switch" type="checkbox" data-value="{%= domain %}" {%= host.status ? 'checked' : '' %}>
							</td>
							<td>
								<button data-value="{%= domain %}" type="button" class="btn btn-xs btn-danger" title="delete" data-action="removeVhost">Delete</button>
							</td>
		   				</tr>
					{% }} %}
				    </tbody>
		   		</table>
			<button type="button" class="btn btn-sm btn-primary" data-action="addVhost"><span class="fui-plus"></span></button>	
		</script>
		<script type="template/javascript" id="proxy_template">
		   <div>
		     	<div class="server_cw setpt">
				<p>Proxy Info: http://localhost:{%= port %}</p>
				<p><a href="https://github.com/liuxiaoyue/fd-server/wiki/%E5%A6%82%E4%BD%95%E8%AE%BE%E7%BD%AE%E6%B5%8F%E8%A7%88%E5%99%A8%E4%BB%A3%E7%90%86"  target="_blank" class="proxyhelp"> How to set brower's proxy? </a></p>
				</div>
				<button type="button" class="btn btn-primary" data-action="addProxyGroup">
					<span class="fui-plus"></span>
				</button>
		   </div>
		   {% if(proxyGroup.length){ %}
		   	<br/>	
		   	<div class="panel panel-success">
	       		<div class="panel-heading">
	       	  		<h3 class="panel-title">Proxy Groups</h3>
	       		</div>
		   	    <div class="panel-body">
		   		{% _.each(proxyGroup,function(group,index){ %} 
		   			<div class="grouplist">
		   				<button data-action="activeGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-success mr">{%= group %}</button>
		   				<span class="panel_group">
		   					<button data-action="addProxy" data-value="{%= group %}" type="button" class="btn btn-sm btn-info mr">Add</button>
		   					<button data-action="editGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-warning mr">Edit</button>
		   					<button data-action="removeGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-danger mr">Del</button>
		   				</span>
		   			</div>
		   		{% }); %}
		   	    </div>
	       	</div>
		   {% } %}
		   {% if(proxyGroup.length){ %}
		   	<div>
		   	{%
		   		_.each(proxyGroup,function(groupname,index){ 
		   	%}
					<table data-value="{%= groupname %}" id="proxy_table_{%= groupname %}" class="table table-condensed table-hover">
							<thead>
								<tr class="bg-info">
									<th colspan="4">{%= groupname %}</th>
								</tr>
								<tr>
									<th width="35%">Source</th>	
									<th width="35%">Target</th>	
									<th width="15%">Open Switch</th>	
									<th width="15%">Operate</th>	
								</tr>	
							</thead>
							<tbody>
		   					{%
								if(_.some(proxy,{group:groupname})){
		   						var proxys = _.filter(proxy,{group:groupname});
		   						_.each(proxys,function(item,index){
		   					%}
		   						<tr>
									<td data-action="editinput" data-node="pattern" data-value="{%= item.pattern %}"> {%= item.pattern %}</td>
									<td data-action="editinput" data-node="responder" data-value="{%= item.responder %}"> {%= item.responder %}</td>
		   							<td>
										<input data-node="checkProxy" {%= item.disabled ? '' : 'checked' %} data-value="{%= item.pattern %}" data-responder="{%= item.responder %}" type="checkbox">	
		   							</td>	
		   							<td>
										<button data-action="removeProxy" data-responder="{%= item.responder %}" data-value="{%= item.pattern %}"type="button" class="btn btn-xs btn-danger">
											Delete
										</button>
		   							</td>
		   						</tr>		
							{% });} %}
							</tbody>
		   				</table>	
		   			{% }); %}
		   	</div>
		   {% } %}
		</script>

		<script type="template/javascript" id="hosts_template">
		    <div>
			<button type="button" class="btn btn-primary" data-action="addHostGroup"><span class="fui-plus"></span></button>
		    </div>
			{% if(_.keys(hosts).length){ %}
			<br/>	
		    <div class="panel panel-success">
	        	<div class="panel-heading">
	          		<h3 class="panel-title">Hosts Groups</h3>
	        	</div>
					<div class="panel-body">
					{% _.each(_.keys(hosts),function(group){ %}		
						<div class="grouplist">
							<button data-action="activeHost" data-value="{%= group %}" type="button" class="btn btn-sm btn-success mr">{%= group %}</button>
							<span class="panel_group">
								<button data-action="addHost" data-value="{%= group %}" type="button" class="btn btn-sm btn-info mr">Add</button>
								<button data-action="editHostGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-warning mr">Edit</button>
								<button data-action="removeHostGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-danger mr">Del</button>
							</span>
						</div>
					{% }); %}		
					</div>
	        </div>
			<div>
			{% for(var i in hosts){ %}
				<table id="hosts_table_{%= i %}" data-groupname="{%= i %}" class="table table-condensed table-hover">
				<thead>
					<tr class="bg-info">
						<th colspan="3">{%= i %}</th>
						<th>
							<button data-action="activeHostGroup" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-success mr">Active</button>
							<button data-action="disableHostGroup" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-danger mr">Disable</button>
							<button data-action="toggleHost" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-primary mr"></button>
						</th>
					</tr>
					<tr>
						<th width="30%">Domain</th>	
						<th width="30%">Ip</th>	
						<th width="20%">Switch</th>	
						<th width="20%">Operate</th>	
					</tr>
				</thead>
				<tbody>
				{% _.each(hosts[i],function(item){ %}
					<tr>
						<td data-action="editinput" data-node="domain" data-groupname="{%= i %}" data-ip="{%= item.ip %}" data-domain="{%= item.domain%}" data-disabled="{%= item.disabled %}"> {%= item.domain %}</td>
						<td data-action="editinput" data-node="ip" data-groupname="{%= i %}" data-ip="{%= item.ip %}" data-domain="{%= item.domain%}" data-disabled="{%= item.disabled %}"> {%= item.ip %}</td>
						<td>
							<input data-node="checkHost" data-ip="{%= item.ip %}" data-domain="{%= item.domain %}" data-groupname="{%= i %}" {%= item.disabled ? '' : 'checked' %} type="checkbox">	
						</td>
						<td>
							<button data-action="removeHost" data-ip="{%= item.ip %}" data-groupname="{%= i %}" data-domain="{%= item.domain %}"type="button" class="btn btn-xs btn-danger">Delete</button>
						</td>
					</tr>	
				{% }) %}
				</tbody>
				</table>
			{% } %}	
			</div>
			{% } %}
		</script>

		<script type="template/javascript" id="config_template">
			<div class="pl_right">
				<button data-action="preview" type="button" class="btn btn-sm btn-success mr">preview</button>
				<div class="mt"></div>
			</div>
			<div class="pl_left">
		      	<div class="mt"><a href="/export.json" class="btn btn-sm btn-success mr">download</a></div>
		      	<div class="mt">
		      		<p><textarea rows="15" cols="50" data-action="databox" id="databox" class="color" placeholder="paste your config file content"></textarea></p>
		      		<button data-action="upload" type="button" class="btn btn-sm btn-success mr">upload</button>
		      	<div>
	      	</div>
		</script>
        <script type="template/javascript" id="task_template">
			<p>
			配置目录：<input type="text" data-node="configPath" value="{%= taskDir %}" class="cpath" placeholder="输入Task脚本配置所在目录">
			<input type="button" value="reload" data-action="reload" class="btn btn-primary">
            <span id="reload-msg"></span>
			</p>
            <p><a href="https://github.com/SinaBlogFE/fd-server/wiki/%E5%A6%82%E4%BD%95%E9%85%8D%E7%BD%AETask" target="_blank"> 如何配置任务？ </a></p>
            <div class="tasklist" style="display:none;"></div>
            <div class="taskrunning" style="display:none;"><pre></pre></div>
		</script>
        <script type="template/javascript" id="tasklist_template">
        <div data-node="checkboxs">
           {% for(var f in tasks) { %}
            <div class="task-item" taskfile="{%= f %}">
                <p><em class="fui-arrow-right">{%= f %}</em></p>
                {% _.forEach(tasks[f], function (name){ %}
                <label class="checkbox"><input type="checkbox" value="{%= f %}:{%= name %}" data-toggle="checkbox">{%= name %}</label>
                {% }) %}
                <div class="clear"></div>
            </div>
           {% } %}
        </div>
        <button data-action="runtask" type="button" class="btn btn-sm btn-success   ` fui-play">Run</button>
        </script>
		<script type="template/javascript" id="log_template">
			<p>
			<input type="number" value="50" data-node="len" placeholder="default 50 size">
			<input type="button" value="refresh" data-action="refresh" class="btn btn-primary">
			</p>
			<iframe width="100%" height="400" src="/log" data-node="iframe"></iframe>
		</script>

	</div>
	<div class="container footer">
		<hr/>
		<p class="text-muted"><small class="text-danger">	
		<% for(var i=0;i<ip.length;i++){ %>
			<%= ip[i][0] %> : <%= ip[i][1] %> &nbsp;&nbsp;
		<% } %>
		</small>
		<br>	
		<small>© 2014 - 2099 <a target="_blank" href="http://fd-server.org">fd-server.org</a> Prower by <a href="https://github.com/SinaBlogFE" target="_blank">SinaBlogFE</a></small>
		</p>
	</div>
	<script src="/javascripts/lithe.js" data-config="/config.js" data-main="conf/main.js" data-timestamp="1"></script>
  </body>
</html>
