<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/flat-ui.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
		<style>
			.grouplist{float:left;margin-right:10px;}
			.panel_group{display:none;}
			.fui-cross{cursor:pointer;}
			.switch{margin-top:5px;}
			h4{vertical-align:bottom;}
			table tbody tr td {vertical-align:middle!important;}
		</style>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-font" href="#">Fd-server</a>
        </div>
		<div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav" id="switch-tab">
				<li><a href="#vhosts">vhosts</a></li>	
				<li><a href="#proxy">proxy</a></li>	
				<li><a href="#hosts">hosts</a></li>	
				<li><a href="#config">config</a></li>	
				<li><a href="/log?len=50" target="_blank">log</a></li>	
			</ul>	
		</div>
      </div>
    </div>

    <div id="con-wrapper">
	    <!-- dymatic server config -->
		<div class="container">
			<h4>
				<img src="images/icons/svg/paper-bag.svg" alt="Pocket" width="35" height="35"> Vhost
			</h4>
			<hr>
			<div id="vhosts"></div>
		</div>
	    <div class="container" id="proxy"></div>
	    <div class="container" id="hosts"></div>
	    <div class="container" id="config"></div>
		<script type="template/javascript" id="vhosts_template">
		   		{% if (_.keys(vhost).length) { %}
		   		<table class="table table-condensed table-hover">
					<thead>
		   			<tr>
		   				<th>
							Proxy online	
		   				</th>	
		   				<th>
		   					Domain
		   				</th>	
		   				<th>
							Local Path	
		   				</th>	
		   				<th>
		   					Switch
		   				</th>
		   				<th>
							Delete
		   				</th>
		   			</tr>
					</thead>
					<tbody>
		   		{% 
					var id = 0;
		   			for(var domain in vhost){
		   				var host = vhost[domain];
						id += 1;
		   		%}
		   				<tr>
		   					<td>
								<label data-action="openOnlineProxy" class="checkbox" for="c_{%= id %}">
									<input data-toggle="checkbox" id="c_{%= id %}" data-domain="{%= domain %}" type="checkbox" {%= host.openOnlineProxy == 0 ? '': 'checked' %} data-action="openOnlineProxy">
								</label>
		   					</td>
		   					<td>
		   						{%= domain %}
		   					</td>
		   					<td>
		   						{%= host.path %}
		   					</td>
		   					<td>
							<input data-toggle="switch" type="checkbox" data-value="{%= domain %}" {%= host.status ? 'checked' : '' %}>
		   					</td>
							<td>
							<button data-value="{%= domain %}" type="button" class="btn btn-xs btn-danger" title="delete" data-action="removeVhost"><span class="fui-cross"></span></button>
							</td>
		   				</tr>
		   			{% } %}
				    </tbody>
		   		</table>
		   	{% } %}
			<button type="button" class="btn btn-sm btn-primary" data-action="addVhost"><span class="fui-plus"></span></button>	
		</script>
		<script type="template/javascript" id="proxy_template">
		   <div>
		     	<h4>proxy配置</h4>
		     	<div class="server_cw setpt">
		   	<p>代理：localhost 端口: {%= port %}<span></span> <a href="https://github.com/liuxiaoyue/fd-server/wiki/%E5%A6%82%E4%BD%95%E8%AE%BE%E7%BD%AE%E6%B5%8F%E8%A7%88%E5%99%A8%E4%BB%A3%E7%90%86"  target="_blank" class="proxyhelp">如何设置浏览器代理？</a></p>    
		   	</div>
		     	<button type="button" class="btn btn-primary" data-action="addProxyGroup">创建规则组</button>
		   </div>
		   {% if(proxyGroup.length){ %}
		   	<br/>	
		   	<div class="panel panel-success">
	       		<div class="panel-heading">
	       	  		<h3 class="panel-title">已创建的规则组</h3>
	       		</div>
		   	    <div class="panel-body">
		   		{% _.each(proxyGroup,function(group,index){ %} 
		   			<div class="grouplist">
		   				<button data-action="activeGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-success mr">{%= group %}</button>
		   				<span class="panel_group">
		   					<button data-action="addProxy" data-value="{%= group %}" type="button" class="btn btn-sm btn-info mr">增加规则</button>
		   					<button data-action="editGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-warning mr">编辑</button>
		   					<button data-action="removeGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-danger mr">删除</button>
		   				</span>
		   			</div>
		   		{% }); %}
		   	    </div>
	       	</div>
		   {% } %}
		   {% if(proxy.length && proxyGroup.length){ %}
		   	<div id="allGroupPanel">
		   	{%
		   		_.each(proxyGroup,function(groupname,index){ 
		   			if(_.some(proxy,{group:groupname})){
		   	%}
		   				<h5>{%= groupname %}</h5>
		   				<table class="table table-condensed setmb">
		   					{%
		   						var proxys = _.filter(proxy,{group:groupname});
		   						_.each(proxys,function(item,index){
		   					%}
		   						<tr>
		   							<td class="ipt_pl">
		   							<input {%= item.disabled ? '' : 'checked' %} data-action="checkProxy" data-value="{%= item.pattern %}" data-responder="{%= item.responder %}" type="checkbox">	
		   							</td>	
		   							<td> {%= item.pattern %}</td>
		   							<td> {%= item.responder %}</td>
		   							<td>
		   								<button data-action="editProxy" data-responder="{%= item.responder %}" data-pattern="{%= item.pattern %}" type="button" class="btn btn-xs btn-info Wpr">编辑</button>
		   								<button data-action="removeProxy" data-responder="{%= item.responder %}" data-value="{%= item.pattern %}"type="button" class="btn btn-xs btn-danger">删除</button>
		   							</td>
		   						</tr>		
		   					{% }); %}
		   				</table>	
		   				{%	} %}
		   			{% }); %}
		   	</div>
		   {% } %}
		</script>

		<script type="template/javascript" id="hosts_template">
		    <div>
			  	<h4>hosts组管理</h4>
			  	<button type="button" class="btn btn-primary" data-action="addHostGroup">创建hosts组</button>
		    </div>
			{% if(_.keys(hosts).length){ %}
			<br/>	
		    <div class="panel panel-success">
	        	<div class="panel-heading">
	          		<h3 class="panel-title">规则组管理</h3>
	        	</div>
					<div class="panel-body">
					{% _.each(_.keys(hosts),function(group){ %}		
						<div class="grouplist">
							<button data-action="activeHost" data-value="{%= group %}" type="button" class="btn btn-sm btn-success mr">{%= group %}</button>
							<span class="panel_group">
								<button data-action="addHost" data-value="{%= group %}" type="button" class="btn btn-sm btn-info mr">增加host</button>
								<button data-action="editHostGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-warning mr">编辑</button>
								<button data-action="removeHostGroup" data-value="{%= group %}" type="button" class="btn btn-sm btn-danger mr">删除</button>
							</span>
						</div>
					{% }); %}		
					</div>
	        </div>
			<div id="allHostGroupPanel">
			{% for(var i in hosts){ %}
				<h5>{%= i %}</h5>
				<p>
					<button data-action="activeHostGroup" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-success mr">启用全组</button>
					<button data-action="disableHostGroup" data-groupname="{%= i %}" type="button" class="btn btn-sm btn-danger mr">禁用全组</button>
				</p>
				<table class="table table-condensed setmb">
				{% _.each(hosts[i],function(item){ %}
					<tr>
						<td class="ipt_pl">
							<input data-action="checkHost" data-ip="{%= item.ip %}" data-domain="{%= item.domain %}" data-groupname="{%= i %}" {%= item.disabled ? '' : 'checked' %} type="checkbox">	
						</td>
						<td> {%= item.domain %}</td>
						<td> {%= item.ip %}</td>
						<td>
						<button data-action="editHost"data-groupname="{%= i %}" data-domain="{%= item.domain %}" data-ip="{%= item.ip %}" type="button" class="btn btn-xs btn-info Wpr">编辑</button>
							<button data-action="removeHost" data-ip="{%= item.ip %}" data-groupname="{%= i %}" data-domain="{%= item.domain %}"type="button" class="btn btn-xs btn-danger">删除</button>
						</td>
					</tr>	
				{% }) %}
				</table>
			{% } %}	
			</div>
			{% } %}
		</script>

		<script type="template/javascript" id="config_template">
			<div class="pl_right">
				预览配置文件: <button data-action="preview" type="button" class="btn btn-sm btn-success mr">preview</button>
				<div class="mt"></div>
			</div>
			<div class="pl_left">
		      	<div class="mt"><a href="/export.json" class="btn btn-sm btn-success mr">download</a></div>
		      	<div class="mt">
		      		<p><textarea rows="15" cols="50" data-action="databox" id="databox" class="color">请粘贴导入的配置文件</textarea></p>
		      		<button data-action="upload" type="button" class="btn btn-sm btn-success mr">upload</button>
		      	<div>
	      	</div>
		</script>

	</div>
	
	<script src="/javascripts/lithe.js" data-config="/config.js" data-main="conf/main.js" data-timestamp="1"></script>
  </body>
</html>
