<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
<pre>
<%= content %>
<pre>
<script>
window.onload = function(){
	window.scrollTo(0,document.body.scrollHeight);	
}
</script>
</body>
</html>
